.button {
  border-radius: 18px;
  border: none;
  column-gap: 10px;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  padding: 22px 40px;
  transition: background-color 0.3s ease;
}

/* CLASS BUTTON PRIMARY */
.button.primary {
  background-color: #0cc0f2;
  color: white;
}

.button.primary:hover {
  background-color: #0056B3;
}

/* CLASS BUTTON SECONDARY */
.button.secondary {
  background-color: #1D1D1D;
  color: white;
}
  
  .button.secondary:hover {
  background-color: #4D4D4D;
}

.button.invisible {
  background-color: transparent;
  border: none;
  font-size: 25px;
  padding: 0;
}

/* CLASS BUTTON OUTLINE */
.button.outline {
  background-color: white;
  color: #0cc0f2;
  border: 2px solid #0cc0f2;
}
  
.button.outline:hover {
  background-color: #0cc0f2;
  color: white;
}

/* CLASS BUTTON DISABLED */
.button:disabled,
.button.disabled {
background-color: #CCCCCC;
color: #666666;
cursor: not-allowed;
}

.button:disabled:hover,
.button.disabled:hover {
background-color: #CCCCCC;
}